discord.py[voice]>=2.4.0
colorama
pillow
pytesseract
groq
GPUtil
psutil
PyNaCl
aiohttp
asyncio-mqtt
gtts
tomli
pydub
requests
websockets
lavalink>=5.10.0
python-dotenv
pex
duckduckgo_search
beautifulsoup4
tavily-python
flask
stripe
waitress
chromadb
python-docx
pymupdf